body {
  background: #000035;
  color: white;
}
input {
  border: 1px solid #999;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 4px;
  padding: 10px;
}
button {
  zoom: 2;
  background-color: #999;
  border: 1px solid #999;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 4px;
  padding: 1px 5px;
  &.active {
    background-color: rgb(165, 227, 158);
  }
}
#container{
  display: flex;
  flex-direction: row;
}
.cat{
  text-align: center;
  cursor: pointer;
  margin: 5px;
  height: 236px;
  width: 236px;
  background-color: black;
}